.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
}
.header > ul {
  display: flex;
  list-style-type: none;
}
.header > ul > li {
  padding: 30px;
  cursor: pointer;
}
.header > img {
  width: 90px;
}
.restaurantCard {
  width: 250px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.restaurantCard > a > img {
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.restaurantCard > a {
text-decoration: none;
}
